- if !( current_page?(account_path) or current_page?(root_path) )
	%ul.nav.nav-pills.nav-stacked
		%li
			%a{href: root_path}= t('account.return_to_it')
	%hr
%ul.nav.nav-pills.nav-stacked
	%li
		%a{href: new_application_path}= t('application.new')
/ %hr
%ul.nav.nav-pills.nav-stacked
	- @account.applications.each do |application|
		%li{class: (application==@application ? 'active' : false)}
			%a{href: application_path(application)}= application.name