.row
  .span4
    = render 'list'
  .span8
    .well
      / .pull-right
      /   %p
      /     %a.btn{href: edit_application_path(@application)}
      /       = t('application.edit')
      /   %p
      /     = link_to @application, method: :delete, class: 'btn', data: { confirm: t('deletion_confirm') } do
      /       = t('application.delete')

      %h3= @grant.code

      / %p
      /   %b Uid:
      /   = @application.uid
      / %p
      /   %b Secret:
      /   = @application.secret
      / %p
      /   %b Redirect uri:
      /   = @application.redirect_uri