.row
  .span4
    = render 'list'
  .span8
    .well
      / .pull-right
      /   %p
      /     %a.btn{href: edit_application_path(@application)}
      /       = t('application.edit')
      /   %p
      /     = link_to @application, method: :delete, class: 'btn', data: { confirm: t('deletion_confirm') } do
      /       = t('application.delete')

      %h3= @grant.application.name

      %p
        = t('grant.expired_at')
        = l @grant.access_token_expires_at, format: :short
